html,
body {
  margin: 0;
  background: linear-gradient(135deg, #ffff 0%, #cde1f0 100%);
  width: 100%;
}
html,
body,
#__next {
  margin: 0;
  padding: 0;
  min-width: 100vh;
}

.embla__viewport {
  overflow: hidden;
  min-width: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 100%;
  height: 630px;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla-banner {
  position: absolute;
  top: 0;
  height: 630px;
  margin: auto;
  min-width: 100%;
  width: 100vh;
  object-fit: cover;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}
@media (max-width: 640px) {
  .embla-banner {
    display: none;
  }
}

// Pagination Component
.pagination-wrapper {
  user-select: none;
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  max-width: 700px;

  .paginationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #e8f4d9;
    width: 87px;
    height: 50px;
    border-radius: 50px;

    &:hover:not([disabled]) {
      width: 90px;
      background-color: #8dc641;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  ul.pagination {
    padding-inline-start: 0;
  }

  .pagination {
    margin-right: auto;
    list-style: none;
    margin-left: auto;
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    .pageNumber {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: none;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover:not([disabled]) {
        background: #8dc641;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        color: #fff;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    .pagination_active {
      border: solid 1px #8dc641;
    }
  }
}

.article_news {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  .featuredImage {
    width: 98%;
    object-fit: cover;
    object-position: 100% 0%;
  }
  .articleBody {
    width: 98% !important;
    iframe {
      width: 98% !important;
      .player {
        width: 98% !important;
      }
    }
    figure {
      width: 98% !important;

      img {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        margin: 0px auto 0px auto;
        display: block !important;
        border-radius: 4px;
        &.size-full {
          width: 98%;
        }
      }
    }
  }
  .category_news {
    span {
      font-size: 12px;
      font-weight: 600;
    }
  }
  .article_header {
    font-size: 18px;
    line-height: 150%;
  }

  .articleBody {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    h1,
    h2 {
      font-size: 20px;
      line-height: 130%;
    }
    h3,
    h4,
    h5 {
      font-size: 18px;
      line-height: 130%;
    }
    p {
      font-size: 16px;
      margin: 1em 0;
    }
    img {
      display: inline-block;
    }
    .alignleft {
      float: left;
      margin-right: 25px;
    }
    .alignright {
      float: right;
      margin-right: 0;
      margin-left: 25px;
    }
    .aligncenter {
      margin: 0 auto;
      text-align: center;
    }
    .vp-center {
      max-width: 716.57px;
      margin: 0px auto 0px auto;
      display: block !important;
      border-radius: 4px;
    }
    iframe {
      max-width: 716.57px;
      min-width: 716.57px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      .player {
        max-width: 716.57px;
        min-width: 716.57px;
      }
    }

    figure {
      margin: 26px auto 30px auto;
      img {
        max-width: 716.57px;
        width: 100%;
        min-width: 100%;
        margin: 0px auto 0px auto;
        display: block !important;
        border-radius: 4px;
      }
      &.alignleft {
        float: left;
        margin-right: 25px;

        img {
          margin-bottom: 20px;
        }
      }
      &.alignright {
        float: right;
        margin-right: 0;
        margin-left: 25px;
      }
      .aligncenter {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.strategyBody {
  font-size: 18px;
}

.strategyBody ul {
  padding-left: 20px;
  list-style-type: none;
}

.strategyBody ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
.strategyBody ul li:last-child {
  margin-bottom: 0;
}
.strategyBody.colored ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: var(--color-primary);
  border-radius: 50%;
}
.strategyBody ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--color-primary);
  border-radius: 50%;
}
